.ip-info{
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid black;

}


.ip-info tr{
  width: 100%;
}

.ip-info td{
  width: 50%;
}

.ip-info td:nth-child(2){
  font-family: Consolas, sans-serif;
}


.form-group{
  border: 1px solid;
  border-radius: .2em;
  width: fit-content;
}

.form-group input, select{
  border: none transparent;
  margin: .2em;
  padding: .5em;
}


.form-group input:nth-child(1){
  border-right: 1px solid green;
}

.form-group input[type=submit]{
  border-radius: .2em;
  transition-duration: 200ms;

}

.form-group input[type=submit]:not(:disabled):hover{
  border-radius: .2em;
  background-color: greenyellow;
  cursor: pointer;
}

.form-group .mask-input{
  width: 5ch;
}

.form-group.invalid{
  border-color: red;
}




