<form [formGroup]="addressForm" (ngSubmit)="validate()">
  <div>entrez l'adresse dont vous souhaitez obtenir les informations ainsi que son masque</div>
  <div class="form-group" [ngClass]="{'invalid': addressForm.invalid&&addressForm.dirty}">
    <input class="address-input" type="text" name="address" formControlName="address">
    <input class="mask-input" type="number" min="1" max="32" name="mask"
           formControlName="mask">

    <input type="checkbox" formControlName="classful" >
    <label>classful
    <input [disabled]="addressForm.invalid && addressForm.untouched" type="submit" >
    </label>
  </div>


  <div *ngIf="inputAddress?.invalid && (inputAddress?.dirty || inputAddress?.touched)">
    Veuillez entrez une adresse IP valide
  </div>
  <div *ngIf="inputMask?.invalid && (inputMask?.dirty || inputMask?.touched)">
    Veuillez entrez un masque valide
  </div>
</form>

<h3>Informations de l'adresse</h3>


<table *ngIf="address" class="ip-info">
  <thead>
  <tr>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>adresse:</td>
    <td>{{address.ip}}</td>
  </tr>
  <tr>
    <td>masque:</td>
    <td>{{address.mask?.ip}}</td>
  </tr>
  <tr>
    <td>versions courte:</td>
    <td>{{address.ip + "/" + address.mask?.getShort()}}</td>
  </tr>
  <tr>
    <td>adresse binaire:</td>
    <td>{{address.getIpBinary()}}</td>
  </tr>
  <tr>
    <td>masque binaire:</td>
    <td>{{address.mask?.getIpBinary()}}</td>
  </tr>
  <tr *ngIf="isClassful">
    <td>classe de l'adresse:</td>
    <td>{{address.getIpDefaultClass()}}</td>
  </tr>

  <tr *ngIf="isClassful">
    <td>masque par défaut:</td>
    <td>{{address.getDefaultMask()}}</td>
  </tr>


  <tr *ngIf="address.ip!==address.getSuperNet().ip">
    <td>adresse du réseau:</td>
    <td>{{address.getSuperNet().ip}}</td>
  </tr>

  <tr>
    <td>nombre d'hotes sur le réseau:</td>
    <td>{{this.getNbHosts()}}</td>
  </tr>

  </tbody>
</table>
