<form [formGroup]="addressForm" (ngSubmit)="validate()">
  <div>entrez l'adresse dont vous souhaitez obtenir les informations ainsi que son masque</div>
  <div class="form-group" [ngClass]="{'invalid': addressForm.invalid&&addressForm.dirty}">
    <input class="address-input" type="text" name="address" formControlName="address">
    <input class="mask-input" type="number" min="1" max="32" [(ngModel)]="shortMaskInput" name="mask"
           formControlName="mask">

    <input [disabled]="!inputAddress?.dirty || inputAddress?.invalid" type="submit" value="valider">

  </div>


  <div *ngIf="inputAddress?.invalid && (inputAddress?.dirty || inputAddress?.touched)">
    Veuillez entrez une adresse IP valide
  </div>
  <div *ngIf="inputMask?.invalid && (inputMask?.dirty || inputMask?.touched)">
    Veuillez entrez un masque valide
  </div>
</form>
<h3>Informations du réseau</h3>

<div *ngIf="network">

  <table class="network-info">
    <thead>
    </thead>
    <tbody>
    <tr>
      <td>adresse et masque:</td>
      <td>{{network.address.ip + "/" + network.mask.getShort()}}</td>
    </tr>

    <tr>
      <td>nombre d'hotes:</td>
      <td>{{network.hosts}}</td>
    </tr>
    <tr>
      <td>nombre d'hotes utilisable:</td>
      <td>{{network.hosts - 2}}</td>
    </tr>
    </tbody>
  </table>

  <div class="subnet-info">
    <div>Découpage en sous-réseaux</div>
    <form [formGroup]="subnetForm" (ngSubmit)="subnet()">
      <label>
        Masque de sous-réseau
        <select formControlName="subnetShort">
          <option *ngFor="let mask of getValidSubMask()" selected>{{mask}}</option>
        </select>
      </label>

    </form>
    <div class="subnet-table" *ngIf="validSubnetting()">
      <div class="subnet-row" *ngFor="let net of network!.getSubnets(inputSubMask?.value); let index = index;">
        <div class="title">sous-réseau n°{{index + 1}}</div>
        <div class="subnet">
          <div>adresse du sous-réseau:</div>
          <div>{{net.address.ip}}</div>
          <div>première adresse utilisable:</div>
          <div>{{net.firstUsableHost()}}</div>
          <div>dernière adresse utilisable:</div>
          <div>{{net.lastUsableHost()}}</div>
          <div>adresse de diffusion:</div>
          <div>{{net.broadcast}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

