form{
  display: flex;
  height: 100%;
  flex-direction: column;
  width: fit-content;
  margin-bottom: 1em;
}

form>div{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 1em;
}


.address-group{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: .2em;
  padding: .1em;
  margin-bottom: .5em;
}

.address-group input{
  border: none;
  margin: .1em;
}

.address-group input:nth-child(1){
  border-right: 1px solid grey;
  margin: .1em;
}

.input-mask{
  width: 5ch;
}
