<div>
  <form [formGroup]="addressCompareForm" (ngSubmit)="validate()">
    <div>
      <div>Adresse 1 et son masque:</div>
      <div class="address-group">
        <input type="text" formControlName="address1"><input type="number" class="input-mask" formControlName="mask1"
                                                             min="1" max="32">

      </div>

    </div>
    <div>
      <div>Adresse 2 et son masque:</div>
      <div class="address-group">
        <input type="text" formControlName="address2"><input type="number" class="input-mask" formControlName="mask2"
                                                             min="1" max="32">
      </div>

    </div>
    <input type="submit" value="valider" [disabled]="addressCompareForm.invalid || addressCompareForm.untouched">
  </form>


</div>

<div class="result">
  <div *ngIf="address2InAddress1 && address2Input?.valid && mask2Input?.valid">
    L'adresse 2 appartient au réseau de l'adresse 1
  </div>
  <div *ngIf="address1InAddress2 && address1Input?.valid && mask1Input?.valid">
    L'adresse 1 appartient au réseau de l'adresse 2
  </div>
  <div *ngIf="addressCompareForm.invalid && addressCompareForm.dirty">Une des adresses entrée n'est pas correcte</div>
</div>
