<form [formGroup]="networkTestForm" (ngSubmit)="submit()">

  <div>adresse à tester:</div>
  <div class="address-group">
    <input type="text" formControlName="baseAddress" value="">
    <input type="number" formControlName="baseMask" class="input-mask" min="1" max="32" value="1">
  </div>
  <div *ngIf="networkTestForm.dirty && (inputBaseMask?.invalid || inputBaseAddress?.invalid)">
    Les information de l'adresse 1 ne sont pas correctes
  </div>
  <div>adresse du réseau:</div>
  <div class="address-group">
    <input type="text" formControlName="networkAddress" value="">

  </div>
  <input [disabled]="!networkTestForm?.valid || networkTestForm.untouched" type="submit">

</form>
<div *ngIf="isInNetwork" class="result">
  <div>
    L'adresse entrée appartient bien à ce réseau
  </div>
  <div *ngIf="isUsableHost">
    L'addresse est utilisable dans ce réseau
  </div>
  <div *ngIf="!isUsableHost">
    L'adresse ne fait pas partie des adresses utilisables sur ce réseau
  </div>
</div>
<div *ngIf="!isInNetwork && networkTestForm.touched">
  <div>
    L'adresse entrée n'appartient pas à ce réseau
  </div>

</div>
