.address-group{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: .2em;
  padding: .1em;
  margin-bottom: .5em;
  width: fit-content;
}

.address-group input{
  border: none;
  margin: .1em;
}

.address-group input:nth-child(2){
  border-left: 1px solid grey;
  margin: .1em;
}

.input-mask{
  width: 5ch;
}

form{
  margin-bottom: 1em;
}
