<nav class="menu">
  <a routerLink="/address-info" routerLinkActive="active">Informations d'une adresse</a>
  <a routerLink="/network-info" routerLinkActive="active">Informations d'un réseau</a>
  <a routerLink="/compare-address-network" routerLinkActive="active">tester une adresse dans un réseau</a>
  <a routerLink="/compare-two-adresses" routerLinkActive="active">tester deux adresses entre elles</a>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>



