nav{
  position: sticky;
  margin-left: 0;
  height: 100%;
}

.menu{
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  width: fit-content;
  padding-top: 2em;
  justify-content: flex-start;
}

.menu a{
  text-decoration: none;
  color: black;
  padding: 1em 1em .5em 1em;
  border-bottom: 1px solid black;
  border-right: 2px solid transparent;
  margin: 0;
  box-sizing: border-box;
  transition-duration: 200ms;
}

.menu a:hover{
  background-color: gray;
}

.menu ul{
  list-style: none;
}
.content{
  height: 100%;
  padding: 2em;
}

